# DB CONFIG
DB_NAME=blockvault
DB_HOST=mongodb
DB_PORT=27017

# MAIL CONFIG
SERVICE=gmail
USER=tu_correo@gmail.com
PASS=tu_contraseña

# MAIN WALLET CONFIG
MIN_CONFIRMATIONS=12

# HOT WALLET CONFIG
WITHDRAW_FROM_WALLET=
WITHDRAW_FROM_PRIVATE_KEY=

# DEFAULT REDIS CONFIG
REDIS_HOST=redis
REDIS_PORT=6379

# AVALANCHE CONFIG
AVALANCHE_RPC=https://api.avax-test.network/ext/bc/C/rpc
AVALANCHE_WSS=wss://api.avax-test.network/ext/bc/C/ws
AVAX_GENERATOR_ADDRESS=
AVAX_GENERATOR_PRIVATE_KEY=

# POLYGON CONFIG
POLYGON_RPC=https://polygon-amoy.g.alchemy.com/v2/
POLYGON_WSS=wss://polygon-amoy.g.alchemy.com/v2/
MATIC_GENERATOR_ADDRESS=
MATIC_GENERATOR_PRIVATE_KEY=

# BSC CONFIG
BSC_RPC=https://data-seed-prebsc-1-s1.binance.org:8545/
BSC_WSS=wss://bsc-testnet-rpc.publicnode.com
BNB_GENERATOR_ADDRESS=
BNB_GENERATOR_PRIVATE_KEY=

# ETH CONFIG
ETHEREUM_RPC=https://eth-sepolia.g.alchemy.com/
ETHEREUM_WSS=wss://eth-sepolia.g.alchemy.com/v2/
ETH_GENERATOR_ADDRESS=
ETH_GENERATOR_PRIVATE_KEY=

# FANTOM CONFIG
FANTOM_RPC=https://rpc.testnet.fantom.network
FANTOM_WSS=wss://fantom-testnet-rpc.publicnode.com
FTM_GENERATOR_ADDRESS=
FTM_GENERATOR_PRIVATE_KEY=

# OPTIMISM CONFIG
OPTIMISM_RPC=https://optimism-sepolia-rpc.publicnode.com
OPTIMISM_WSS=wss://optimism-sepolia-rpc.publicnode.com
OP_GENERATOR_ADDRESS=
OP_GENERATOR_PRIVATE_KEY=