# DB CONFIG
DB_NAME=brivotrust
DB_HOST=mongodb
DB_PORT=27017
DB_USER=brivotrust
DB_PASS=tu_password_seguro

# REDIS CONFIG
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=tu_redis_password

# MAIL CONFIG
SERVICE=gmail
USER=tu_correo@gmail.com
PASS=tu_contraseña_de_app
EMAIL_FROM=BrivoTrust <tu_correo@gmail.com>
FRONTEND_URL=http://localhost:3000

# MAIN WALLET CONFIG
MIN_CONFIRMATIONS=12

# HOT WALLET CONFIG
WITHDRAW_FROM_WALLET=
WITHDRAW_FROM_PRIVATE_KEY=

# ESCROW CONFIG
ESCROW_WALLET_ADDRESS=
ESCROW_WALLET_PRIVATE_KEY=
ESCROW_RELAYER_WALLET=
ESCROW_RELAYER_PRIVATE_KEY=
ESCROW_CONTRACT_ADDRESS=

# AVALANCHE CONFIG
AVALANCHE_RPC=https://api.avax-test.network/ext/bc/C/rpc
AVALANCHE_WSS=wss://api.avax-test.network/ext/bc/C/ws
AVAX_GENERATOR_ADDRESS=
AVAX_GENERATOR_PRIVATE_KEY=

# POLYGON CONFIG
POLYGON_RPC=https://polygon-amoy-bor-rpc.publicnode.com
POLYGON_WSS=wss://polygon-amoy-bor-rpc.publicnode.com
MATIC_GENERATOR_ADDRESS=
MATIC_GENERATOR_PRIVATE_KEY=

# BSC CONFIG
BSC_RPC=https://data-seed-prebsc-1-s1.binance.org:8545/
BSC_WSS=wss://bsc-testnet-rpc.publicnode.com
BNB_GENERATOR_ADDRESS=
BNB_GENERATOR_PRIVATE_KEY=

# ETH CONFIG
ETHEREUM_RPC=https://eth-sepolia.g.alchemy.com/v2/tu_api_key
ETHEREUM_WSS=wss://eth-sepolia.g.alchemy.com/v2/tu_api_key
ETH_GENERATOR_ADDRESS=
ETH_GENERATOR_PRIVATE_KEY=

# FANTOM CONFIG
FANTOM_RPC=https://rpc.testnet.fantom.network
FANTOM_WSS=wss://fantom-testnet-rpc.publicnode.com
FTM_GENERATOR_ADDRESS=
FTM_GENERATOR_PRIVATE_KEY=

# OPTIMISM CONFIG
OPTIMISM_RPC=https://optimism-sepolia-rpc.publicnode.com
OPTIMISM_WSS=wss://optimism-sepolia-rpc.publicnode.com
OP_GENERATOR_ADDRESS=
OP_GENERATOR_PRIVATE_KEY=
